body {
    background-color: black;
}

img {
    width: 80%;
    align-items: center;
    border: 5px solid;
    border-color: white;
}

#poster {
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    align-items: center;
    margin-left: 550px;
}
